/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
  font-size: 15px;
}
.font-md {
  font-size: 18px;
}
.font-lr {
  font-size: 20px;
}
.font-lg {
  font-size: 26px;
}

.line-h-sm {
  line-height: 21px;
}
.line-h-md {
  line-height: 23px;
}
.line-h-lr {
  line-height: 23px;
}
.line-h-lg {
  line-height: 26px;
}


.h-fade-in {
    padding: 66px 0;
}

.main-visual {
    &::after {
        top: 520px;
    }
    &__title-logo-inner-right{
        right: 20px;
            &.scrolled{
                transform: translateX(-55vw);
            }
            &__title-logo-kt{
              font-size: 170px;
            }
    }
  &__title-logo-inner-left{
      left: 20px;
      &__title-logo-char {
          font-size: 80px;
          letter-spacing: 7px; 
      }
  }
}

// .gate-animation-section {
//   margin-bottom: 2300px;
// }

.profile {
  &__left {
    & .profile-icon {
      top: 150px;
      left: 10%;
      width: 310px;
      height: 450px;
    }
}
  &__right {
    &__profile-wrapper {
        & .profile-name {
            margin: 30px 3% 0 auto;
        }
        & .profile-en-name {
          margin: 7px 3% 0 auto;
        }
        & .profile-my-background {
          top: 2%;
          right: -.6%;
        }
        & .profile-intro {
          margin: 3% 15% 0 35%;
        }
      }
  }
}

.about {
  &__body-wrapper {
      &__body-top {
          & .about-body {
            margin: 20% 5% 0 0;
          }
      }
      &__body-bottom {
        margin: 0 0 0 10%;
      }
  }
}
.previewImgWrapper {
  & .previewImg {
      width: 80%;
      max-width: 800px;
      height: 450px;
  }
}

.skills {
  margin-top: 150px;
  margin-bottom: -70px;
  &__skills-wrapper {
    flex-direction: row;
    &__skill-1 {
      height: 450px;
      & .skill-body {
          margin: 0 30px;
      }
    }
    &__skill-2 {
      transition-delay: .5s;
    }
    &__skill-3 {    
      transition-delay: 1s;
    }
  }
}

.works {
  // & .works-bg {
      // &::after {
      // }
  // }
  & .works-container {
      // width: 100%;
      &__work-wrapper {
          // width: 90%;
          // height: 350px;
          // & .workMore {
          //     top: 50%;
          //     left: -7%;
          //     width: 135%;
          //     height: 97.5%;
          //     transition: .3s;
          //     // transition-delay: .2s;
          //     transform: translateY(-50%) skewY(4deg);
          //     background-color: #1b1a1a;
          //     color: $c-white;
          //     &.active {
          //         opacity: 1;
          //         height: 127.5%;
          //     }
          //     &__body {
          //         width: 100%;
          //         height: 100%;
          //     }
          // }
          & .work {
              width: 85%;
          }
      }
  }
}

.contact {
  & .contact-bg-char {
    top: 24%;
    left: 28%;
    color: #000;
    font-size: 20px;
    letter-spacing: 26px;
    line-height: 127px;
}
  & .link-wrapper {
      top: 25%;
      left: 30%;
      width: 40%;
  }
  &__mail {
    margin-bottom: 10%;
  }
}