// /******************************************************************

// Stylesheet: ベーススタイル

// ******************************************************************/
// .mb-sm {
//   margin-bottom: 16px !important;
// }
// .mb-lg {
//   margin-bottom: 80px !important;
// }
// .pb-sm {
//   padding-bottom: 16px !important;
// }
// .pb-lg {
//   padding-bottom: 80px !important;
// }

// ■ Layer-Foundation
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    z-index: 0;
    font-family: 'Krona One', 'Karla', 'Source Sans Pro','NotoSansCJKjp', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    color: $c-white;
    line-height: unset;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.font-sm {
    font-size: 11px;
}
.font-md {
    font-size: 14px;
}
.font-lr {
    font-size: 17px;
}
.font-lg {
    font-size: 20px;
}

.line-h-sm {
    line-height: 18px;
}
.line-h-md {
    line-height: 20px;
}
.line-h-lg {
    line-height: 22px;
}
.line-h-lg {
    line-height: 24px;
}

.jsFadeIn {
    opacity: 0;
    transition: .7s;
    transition-property: opacity;
    backface-visibility: hidden;
    &.scrolled {
        opacity: 1;
    }
}

.jsFadeInDelay {
    @extend .jsFadeIn;
}
.jsFadeInOut {
    @extend .jsFadeIn;
}

.jsFadeInOutDelay {
    @extend .jsFadeIn;
}

.jsFadeInUp {
    opacity: 0;
    transform: translateY(50px);
    transition: .8s;
    transition-property: opacity transform;
    backface-visibility: hidden;
    &.scrolled {
        opacity: 1;
        transform: translateY(0);
    }
}

.jsFadeInUpDelay {
    @extend .jsFadeInUp;
}

.jsFadeInOutUp {
    @extend .jsFadeInUp;
}

.rellax {
    backface-visibility: hidden;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
// Nav
//////////////////////////////////////////////////////////////////////////////////////////////////////////
.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -50%;
    min-height: 100vh;
    width: 50%;
    z-index: 100;
    background-color: rgba($color: #000, $alpha: .8);
    transition: transform .4s;
    &.show {
        transform: translateX(-100%);
    }   
    & ul{
        text-align: center;
        margin-top: 100px;
        & li{
            border-bottom: solid  #ffffff59 .5px;
        }
        & a{
            line-height: 60px;
            @extend .font-md;
            color: $c-white;
        }
    }
    &__closing-target {
        display: none;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        min-height: 100vh;
        z-index: 10;
        cursor: pointer;
        &.show {
            display: block;
        }
    }
    &__menu-icon {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 35px;
        height: 45px;
        padding-left: 10px;
        border-radius: 9px;
        z-index: 11;
        cursor: pointer;
        &.show {
            & span {
                background-color: #ff00007a;
                &:nth-child(1) {
                    transform: translate(-12px, 21px) rotate(-630deg);
                }
                &:nth-child(2) {
                    transform: translate(-2px, 3px) scaleX(.7) rotate(330deg);
                }
                &:nth-child(3) {
                    transform: translate(-2px, 5px) scaleX(.8) rotate(30deg); 
                }
            }
        }
        &__line {
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 9px;
            background-color: $c-black;
            transition: 0.7s;
            &.cChanged {
                background-color: $c-red; 
            }
        }
    }
}
// .menu-icon.show {
//     & span {
//         background-color: #fff;
//         &:nth-child(1) {
//             transform: translate(-12px, 21px) rotate(-630deg);
//         }
//         &:nth-child(2) {
//             transform: translate(-3px, 3px) scaleX(.7) rotate(330deg);
//         }
//         &:nth-child(3) {
//             transform: translate(-3px, 4px) scaleX(.8) rotate(30deg); 
//         }
//     }
// }



.topCoverAnimate {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
    transition: .8s ease-in-out;
    backface-visibility: hidden;
    &::after {
        content: "K•T";
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 8vh;
        color: #fff;
        writing-mode: vertical-rl;
        text-orientation: upright;
        -webkit-text-orientation: upright;
        transform: translate(-50%, -50%);
    }
    &.show {
        transform: translateY(-150%);

    }
}

.bgSpan {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: .5px;
        height: 800px;
        transform: rotate(-45deg) skewY(87deg) scaleX(.2);
        background: $c-black;
    }
    &.cChanged{
        background-color: #ff00007a !important;
    }
}

.bgSectionTitlesWrapper {
    position: absolute;
    top: 551px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 7vh;
    letter-spacing: 4vh;
    writing-mode: vertical-rl;
    text-orientation: upright;
    -webkit-text-orientation: upright;
    z-index: 1;
    & .bgSectionTitles {
        padding-top: 10vh;
        color: #acacac61;
        transition: .5s;
        &.cChanged {
            color: #ff00007a;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 95%;
            left: 10vw;
            width: 85vw;
            height: .5px;
            background-color: grey;
        }
    }    
    & .bgSectionTitlesOverlay {
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        transition: .5s;
        opacity: .95;
        &.cChanged {
            background-color: #000000d9;
            opacity: 1;
        }
    }
}


.scrollmagic-pin-spacer {
    min-width: unset !important;
    pointer-events: none;
    user-select: none;
}

.h-fade-in {
    position: relative;
    width: 70%;
    padding: 57px 0;
    text-align: right;
    z-index: 10;
    box-shadow: 1px 1px 10px #000;
    transition: .2s;
    transform-origin: left;
    transform: scaleX(0) skewY(3deg);
    backface-visibility: hidden;
    color: $c-black;
    background-color: #ffffff94;
    &.cChanged {
        color: $c-white;
        background-color: #ff00007a;
    }
    &.scrolled {
        transform: scaleX(1) skewY(3deg);
    }
    &__body {
        @extend .font-md;
        opacity: 0;
        width: 95%;
        line-height: 25px;
        letter-spacing: -10px;
        transition: .2s;
        transform: scaleX(0);
        transform-origin: right;
        backface-visibility: hidden;
        &.scrolled{
            letter-spacing: 15px;
            opacity: 1;
            transform: scaleX(1);
        }
        &::after {
            content: "";
            display: block;
            height: 4px;
            width: 85%;
            margin-top: 10px;
            margin-left: auto;
            background-color: #d48f80;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
// Main Sections
//////////////////////////////////////////////////////////////////////////////////////////////////////////
.sections-container{
    position: relative;
    width: 100%;
    background: linear-gradient(48deg, #fff 0%, rgba(234,234,234,1) 100%);
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
// Main visual Section
//////////////////////////////////////////////////////////////////////////////////////////////////////////
.main-visual-section {
    position: relative;
    z-index: 2;
}

.main-visual {
    position: relative;
    width: 100%;
    height: 551px;
    background: url("/images/main-visual-img.jpg") no-repeat center;
    background-size: cover;
    pointer-events: none;
    // margin-bottom: 100vh;
    z-index: 3;
    &::before{
        content: "'s portfolio site";
        position: absolute;
        top: 70px;
        left: -5px;
        transform: rotate(-45deg);
        z-index: 10;
    }
    &::after {
        content: "";
        position: absolute;
        top: 480px;
        left: 0;
        width: 100%;
        height: 5px;
        background: #000;
    }
    &__overlay-top {
        position: absolute;
        top: -20%;
        left: -10%;
        width: 110%;
        height: 193px;
        background-color: #3a281280;
        transform: skewY(-8deg);
    }
    &__overlay-left {
        position: absolute;
        width: 50%;
        height: 551px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    &__overlay-right {
        @extend .main-visual__overlay-left;
        right: 0;
        background-color: rgba(255, 255, 255, 0.35);
    }
    &__title-logo-inner-right{
        position: absolute;
        top: 165px;
        right: 7px;
        white-space: nowrap;
        transition: .3s;
        backface-visibility: hidden;
        &__title-logo-kt{   
            letter-spacing: 7px;
            font-size: 70px;
        }
        &.scrolled{
            transform: translateX(-53vw);
        }
    }
    &__title-logo-inner-left{
        position: absolute;
        top: 441px;
        left: 10px;
        white-space: nowrap;
        transition: .3s;
        backface-visibility: hidden;
        &.scrolled{
            transform: translateX(55vw);
        }
        &__title-logo-char {
            font-size: 40px;
            letter-spacing: 0;
            color: #000;
        }
    }
    &__arrow-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(.5px);
        will-change: transform;
        &__arrow {
            position: absolute;
            top: 113%;
            left: 50%;
            width: 96px;
            height: 70px;
            transform: translateX(-50%);         
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
// gateAnimation Section
//////////////////////////////////////////////////////////////////////////////////////////////////////////

// ゲートアニメーション用
.gate-animation-section {
    position: relative;
    z-index: 5;
    margin-bottom: 2300px;
}

.gateAnimation {
    visibility: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 4;
    & .gateWrapper {
        visibility: hidden;
        display: flex;
        height: 200px;
        overflow: hidden;
        & .gateLeft {
            visibility: visible;
            width: 50%;
            background:#000;
            box-shadow: 10px 50px 100px #000;
            backface-visibility: hidden;
        }
        & .gateRight {
            visibility: visible;
            width: 50%;
            background:#fff;
            box-shadow: -20px 20px 100px #000;
            backface-visibility: hidden;
        }
    }
}

// イントロ文用
.my-words-wrapper {
    position: absolute;
    top: 800px;
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // visibility: hidden;
    & .my-words-inner {
        width: 80vw;
        color: $c-black;
        font-family: "Hannari";
        & .my-words {
            &-top {
                @extend .font-lg;
                line-height: 40px;
                transition: 1s !important;
                pointer-events: none;
                user-select: none;
            }
            &-mid {
                @extend .font-lr;
                margin-top: 180px;
                line-height: 45px;
                transition: 1s !important;
                pointer-events: none;
                user-select: none;
            }
            &-bottom {
                @extend .font-lg;
                margin-top: 250px;
                line-height: 40px;
                transition: 1s !important;
                pointer-events: none;
                user-select: none;
            }
        }
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////
// profile Section
//////////////////////////////////////////////////////////////////////////////////////////////////////////

.profile-section {
    position: relative;
    z-index: 2;
}

.profile {
    position: relative;
    width: 100%;
    height: 500px;
    pointer-events: none;
    &__left {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        & .profile-icon {
            position: absolute;
            top: 185px;
            left: 15%;
            width: 220px;
            height: 250px;
            background: url(/images/profile-icon.jpg) center;
            background-size: cover;
            box-shadow: 1px 1px 20px #000;
        }
    }
    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 90%;
        height: 600px; 
        will-change: transform;
        &__profile-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            & .profile-name {
                @extend .font-lg;
                font-weight: bold;
                margin: 30px 5% 0 auto;
                writing-mode: vertical-rl;
            }
            & .profile-en-name {
                @extend .font-md;
                margin: 5px 5% 0 auto;
                writing-mode: vertical-rl;
            }
            & .profile-my-background {
                position: absolute;
                top: -1%;
                right: 2%;
                @extend .font-sm;
                margin: 140px 6% 0 5%;
                line-height: 25px;
                writing-mode: vertical-rl;
            }
            & .profile-intro {
                position: absolute;
                bottom: 0;
                @extend .font-sm;
                @extend .line-h-sm;
                margin: 0 15% 0 5%;
                font-family: 'Karla', 'Source Sans Pro','NotoSansCJKjp', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
// about Section
//////////////////////////////////////////////////////////////////////////////////////////////////////////
.about-section {
    position: relative;
    z-index: 2;
    color: #000;
}

.no-pointer-events {
    pointer-events: none;
    user-select: none;
}

.previewImgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    pointer-events: none;
    user-select: none;
    background-color: #000000d9;
    opacity: 0;
    transition: .5s;
    backface-visibility: hidden;
    &.outview {
        display: none;
    }
    & .previewImg {
        position: absolute;
        width: 100%;
        height: 300px;
        // background-image: url('/images/bg-front01.JPG');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


.aboutCloseTarget {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:110%;
    &.active {
        display: block;
    }
    &.inview {
        display: block;
    }
}

.about-header {
    @extend .font-md;
    display: inline-block;
    position: sticky;
    top: 100px;
    left: 45%;
    width: 75%;
    margin-top: 170px;
    border-bottom: solid 1px #000;
    text-align: right;
    letter-spacing: 5px;
    backface-visibility: hidden;
    overflow: hidden;
}

.about {
    display: flex;
    flex-direction: column;
    &__body-wrapper {
        display: flex;
        width: 100%;
        height: 600px;
        flex-direction: column;
        margin-top: 150px;
        &__body-top {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 3% 0 auto;
            writing-mode: vertical-rl;
            text-orientation: upright;
            -webkit-text-orientation: upright;
            pointer-events: none;
            user-select: none;
            & .about-title {
                @extend .font-lg;
                letter-spacing: 10px;
                white-space: nowrap;
            }
            & .about-body {
                @extend .font-sm;
                @extend .line-h-lg;
                width: 100%;
                height: 100%;
                margin: 15px;
            }
        }
        &__body-bottom {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 60px;
            &__about-img-inner {
                position: relative;
                width: 15%;
                height: 200px;
                transform: skewY(-12deg);
                opacity: .6;
                margin-left: 5px;
                &:hover {
                    opacity: .8;
                    transform: scale(.95) skewY(-12deg);
                }
                &:nth-child(even){
                    margin-top: 38px;
                }
                & > img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                & > span {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


        // &__body {
    //     position: sticky;
    //     top: 0;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 2;
    // }
    // &__about-2 {
    //     @extend .about__about-1;
    //     &__top {
    //         @extend .about__about-1__top;
    //     }
    //     &__bottom {
    //         @extend .about__about-1__bottom;
    //     }
    // }
    // &__about-3 {
    //     @extend .about__about-1;
    //     &__top {
    //         @extend .about__about-1__top;
    //     }
    //     &__bottom {
    //         @extend .about__about-1__bottom;
    // }
    //     }


//////////////////////////////////////////////////////////////////////////////////////////////////////////
// Skills Section
//////////////////////////////////////////////////////////////////////////////////////////////////////////
.skills-section {
    position: relative;
    margin-top: 200px;
    z-index: 2;
}


.skills {
    position: relative;
    width: 100%;
    z-index: 2;
    margin-top: 100px; 
    // margin-bottom: -170px;
    &__skills-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        will-change: transform;
        margin: 0 20px;
        & .skills-icons-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 15px 0;
            & .skill-icon {
                min-width: 54px;
                min-height: 47px;
                width: 7.5vw;
                height: 9vh;
                margin: 0 5px;
                &.__ruby {
                    background: url('/images/ruby-icon.png') no-repeat center;
                    background-size: contain;
                }
                &.__rails {
                    background: url('/images/rails-icon.png') no-repeat center;
                    background-size: contain;
                }
                &.__html {
                    background: url('/images/html-icon.png') no-repeat center;
                    background-size: contain;
                }
                &.__css {
                    background: url('/images/css-icon.png') no-repeat center;
                    background-size: contain;
                }
                &.__js {
                    background: url('/images/js-icon.png') no-repeat center;
                    background-size: contain;
                }
                &.__next {
                    background: url('/images/next.png') no-repeat center;
                    background-size: contain;
                }
            }
        }
        &__skill-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 400px;
            margin: 10px 10px;
            overflow: hidden;
            pointer-events: none;
            & .skill-title {
                @extend .font-md;
            }
            & .skill-body {
                @extend .font-sm;
                @extend .line-h-lg;
                margin: 0 30px; 
                word-break: break-word;
                font-family: 'Karla', 'Source Sans Pro','NotoSansCJKjp', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
            }
        }
        &__skill-2 {
            @extend .skills__skills-wrapper__skill-1;
            left: 35%;
        }
        &__skill-3 {
            @extend .skills__skills-wrapper__skill-1;
            left: auto;
            right: 0;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
// Works Section
//////////////////////////////////////////////////////////////////////////////////////////////////////////

