@charset "UTF-8";
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  z-index: 0;
  font-family: 'Krona One', 'Karla', 'Source Sans Pro','NotoSansCJKjp', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  color: #fff;
  line-height: unset;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.font-sm, .profile__right__profile-wrapper .profile-my-background, .profile__right__profile-wrapper .profile-intro, .about__body-wrapper__body-top .about-body, .skills__skills-wrapper__skill-1 .skill-body, .skills__skills-wrapper__skill-2 .skill-body, .skills__skills-wrapper__skill-3 .skill-body {
  font-size: 11px;
}

.font-md, .nav ul a, .h-fade-in__body, .profile__right__profile-wrapper .profile-en-name, .about-header, .skills__skills-wrapper__skill-1 .skill-title, .skills__skills-wrapper__skill-2 .skill-title, .skills__skills-wrapper__skill-3 .skill-title {
  font-size: 14px;
}

.font-lr, .my-words-wrapper .my-words-inner .my-words-mid {
  font-size: 17px;
}

.font-lg, .my-words-wrapper .my-words-inner .my-words-top, .my-words-wrapper .my-words-inner .my-words-bottom, .profile__right__profile-wrapper .profile-name, .about__body-wrapper__body-top .about-title {
  font-size: 20px;
}

.line-h-sm, .profile__right__profile-wrapper .profile-intro {
  line-height: 18px;
}

.line-h-md {
  line-height: 20px;
}

.line-h-lg, .about__body-wrapper__body-top .about-body, .skills__skills-wrapper__skill-1 .skill-body, .skills__skills-wrapper__skill-2 .skill-body, .skills__skills-wrapper__skill-3 .skill-body {
  line-height: 22px;
}

.line-h-lg, .about__body-wrapper__body-top .about-body, .skills__skills-wrapper__skill-1 .skill-body, .skills__skills-wrapper__skill-2 .skill-body, .skills__skills-wrapper__skill-3 .skill-body {
  line-height: 24px;
}

.jsFadeIn, .jsFadeInDelay, .jsFadeInOut, .jsFadeInOutDelay {
  opacity: 0;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.jsFadeIn.scrolled, .scrolled.jsFadeInDelay, .scrolled.jsFadeInOut, .scrolled.jsFadeInOutDelay {
  opacity: 1;
}

.jsFadeInUp, .jsFadeInUpDelay, .jsFadeInOutUp {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.jsFadeInUp.scrolled, .scrolled.jsFadeInUpDelay, .scrolled.jsFadeInOutUp {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.rellax {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  right: -50%;
  min-height: 100vh;
  width: 50%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.nav.show {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.nav ul {
  text-align: center;
  margin-top: 100px;
}

.nav ul li {
  border-bottom: solid  #ffffff59 .5px;
}

.nav ul a {
  line-height: 60px;
  color: #fff;
}

.nav__closing-target {
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  cursor: pointer;
}

.nav__closing-target.show {
  display: block;
}

.nav__menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 45px;
  padding-left: 10px;
  border-radius: 9px;
  z-index: 11;
  cursor: pointer;
}

.nav__menu-icon.show span {
  background-color: #ff00007a;
}

.nav__menu-icon.show span:nth-child(1) {
  -webkit-transform: translate(-12px, 21px) rotate(-630deg);
          transform: translate(-12px, 21px) rotate(-630deg);
}

.nav__menu-icon.show span:nth-child(2) {
  -webkit-transform: translate(-2px, 3px) scaleX(0.7) rotate(330deg);
          transform: translate(-2px, 3px) scaleX(0.7) rotate(330deg);
}

.nav__menu-icon.show span:nth-child(3) {
  -webkit-transform: translate(-2px, 5px) scaleX(0.8) rotate(30deg);
          transform: translate(-2px, 5px) scaleX(0.8) rotate(30deg);
}

.nav__menu-icon__line {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 9px;
  background-color: #000;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.nav__menu-icon__line.cChanged {
  background-color: #f00;
}

.topCoverAnimate {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1000;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.topCoverAnimate::after {
  content: "K•T";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8vh;
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-text-orientation: upright;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.topCoverAnimate.show {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.bgSpan::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .5px;
  height: 800px;
  -webkit-transform: rotate(-45deg) skewY(87deg) scaleX(0.2);
          transform: rotate(-45deg) skewY(87deg) scaleX(0.2);
  background: #000;
}

.bgSpan.cChanged {
  background-color: #ff00007a !important;
}

.bgSectionTitlesWrapper {
  position: absolute;
  top: 551px;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 7vh;
  letter-spacing: 4vh;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-text-orientation: upright;
  z-index: 1;
}

.bgSectionTitlesWrapper .bgSectionTitles {
  padding-top: 10vh;
  color: #acacac61;
  -webkit-transition: .5s;
  transition: .5s;
}

.bgSectionTitlesWrapper .bgSectionTitles.cChanged {
  color: #ff00007a;
}

.bgSectionTitlesWrapper .bgSectionTitles::after {
  content: "";
  display: block;
  position: absolute;
  top: 95%;
  left: 10vw;
  width: 85vw;
  height: .5px;
  background-color: grey;
}

.bgSectionTitlesWrapper .bgSectionTitlesOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .95;
}

.bgSectionTitlesWrapper .bgSectionTitlesOverlay.cChanged {
  background-color: #000000d9;
  opacity: 1;
}

.scrollmagic-pin-spacer {
  min-width: unset !important;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.h-fade-in {
  position: relative;
  width: 70%;
  padding: 57px 0;
  text-align: right;
  z-index: 10;
  -webkit-box-shadow: 1px 1px 10px #000;
          box-shadow: 1px 1px 10px #000;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0) skewY(3deg);
          transform: scaleX(0) skewY(3deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #000;
  background-color: #ffffff94;
}

.h-fade-in.cChanged {
  color: #fff;
  background-color: #ff00007a;
}

.h-fade-in.scrolled {
  -webkit-transform: scaleX(1) skewY(3deg);
          transform: scaleX(1) skewY(3deg);
}

.h-fade-in__body {
  opacity: 0;
  width: 95%;
  line-height: 25px;
  letter-spacing: -10px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.h-fade-in__body.scrolled {
  letter-spacing: 15px;
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.h-fade-in__body::after {
  content: "";
  display: block;
  height: 4px;
  width: 85%;
  margin-top: 10px;
  margin-left: auto;
  background-color: #d48f80;
}

.sections-container {
  position: relative;
  width: 100%;
  background: linear-gradient(48deg, #fff 0%, #eaeaea 100%);
}

.main-visual-section {
  position: relative;
  z-index: 2;
}

.main-visual {
  position: relative;
  width: 100%;
  height: 551px;
  background: url("/images/main-visual-img.jpg") no-repeat center;
  background-size: cover;
  pointer-events: none;
  z-index: 3;
}

.main-visual::before {
  content: "'s portfolio site";
  position: absolute;
  top: 70px;
  left: -5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 10;
}

.main-visual::after {
  content: "";
  position: absolute;
  top: 480px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #000;
}

.main-visual__overlay-top {
  position: absolute;
  top: -20%;
  left: -10%;
  width: 110%;
  height: 193px;
  background-color: #3a281280;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
}

.main-visual__overlay-left, .main-visual__overlay-right {
  position: absolute;
  width: 50%;
  height: 551px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-visual__overlay-right {
  right: 0;
  background-color: rgba(255, 255, 255, 0.35);
}

.main-visual__title-logo-inner-right {
  position: absolute;
  top: 165px;
  right: 7px;
  white-space: nowrap;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main-visual__title-logo-inner-right__title-logo-kt {
  letter-spacing: 7px;
  font-size: 70px;
}

.main-visual__title-logo-inner-right.scrolled {
  -webkit-transform: translateX(-53vw);
          transform: translateX(-53vw);
}

.main-visual__title-logo-inner-left {
  position: absolute;
  top: 441px;
  left: 10px;
  white-space: nowrap;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main-visual__title-logo-inner-left.scrolled {
  -webkit-transform: translateX(55vw);
          transform: translateX(55vw);
}

.main-visual__title-logo-inner-left__title-logo-char {
  font-size: 40px;
  letter-spacing: 0;
  color: #000;
}

.main-visual__arrow-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
  will-change: transform;
}

.main-visual__arrow-inner__arrow {
  position: absolute;
  top: 113%;
  left: 50%;
  width: 96px;
  height: 70px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gate-animation-section {
  position: relative;
  z-index: 5;
  margin-bottom: 2300px;
}

.gateAnimation {
  visibility: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  z-index: 4;
}

.gateAnimation .gateWrapper {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  overflow: hidden;
}

.gateAnimation .gateWrapper .gateLeft {
  visibility: visible;
  width: 50%;
  background: #000;
  -webkit-box-shadow: 10px 50px 100px #000;
          box-shadow: 10px 50px 100px #000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.gateAnimation .gateWrapper .gateRight {
  visibility: visible;
  width: 50%;
  background: #fff;
  -webkit-box-shadow: -20px 20px 100px #000;
          box-shadow: -20px 20px 100px #000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.my-words-wrapper {
  position: absolute;
  top: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-words-wrapper .my-words-inner {
  width: 80vw;
  color: #000;
  font-family: "Hannari";
}

.my-words-wrapper .my-words-inner .my-words-top {
  line-height: 40px;
  -webkit-transition: 1s !important;
  transition: 1s !important;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.my-words-wrapper .my-words-inner .my-words-mid {
  margin-top: 180px;
  line-height: 45px;
  -webkit-transition: 1s !important;
  transition: 1s !important;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.my-words-wrapper .my-words-inner .my-words-bottom {
  margin-top: 250px;
  line-height: 40px;
  -webkit-transition: 1s !important;
  transition: 1s !important;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.profile-section {
  position: relative;
  z-index: 2;
}

.profile {
  position: relative;
  width: 100%;
  height: 500px;
  pointer-events: none;
}

.profile__left {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.profile__left .profile-icon {
  position: absolute;
  top: 185px;
  left: 15%;
  width: 220px;
  height: 250px;
  background: url(/images/profile-icon.jpg) center;
  background-size: cover;
  -webkit-box-shadow: 1px 1px 20px #000;
          box-shadow: 1px 1px 20px #000;
}

.profile__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 600px;
  will-change: transform;
}

.profile__right__profile-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.profile__right__profile-wrapper .profile-name {
  font-weight: bold;
  margin: 30px 5% 0 auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.profile__right__profile-wrapper .profile-en-name {
  margin: 5px 5% 0 auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.profile__right__profile-wrapper .profile-my-background {
  position: absolute;
  top: -1%;
  right: 2%;
  margin: 140px 6% 0 5%;
  line-height: 25px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.profile__right__profile-wrapper .profile-intro {
  position: absolute;
  bottom: 0;
  margin: 0 15% 0 5%;
  font-family: 'Karla', 'Source Sans Pro','NotoSansCJKjp', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

.about-section {
  position: relative;
  z-index: 2;
  color: #000;
}

.no-pointer-events {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.previewImgWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #000000d9;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.previewImgWrapper.outview {
  display: none;
}

.previewImgWrapper .previewImg {
  position: absolute;
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutCloseTarget {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
}

.aboutCloseTarget.active {
  display: block;
}

.aboutCloseTarget.inview {
  display: block;
}

.about-header {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  left: 45%;
  width: 75%;
  margin-top: 170px;
  border-bottom: solid 1px #000;
  text-align: right;
  letter-spacing: 5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}

.about__body-wrapper__body-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  margin: 30px 3% 0 auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-text-orientation: upright;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about__body-wrapper__body-top .about-title {
  letter-spacing: 10px;
  white-space: nowrap;
}

.about__body-wrapper__body-top .about-body {
  width: 100%;
  height: 100%;
  margin: 15px;
}

.about__body-wrapper__body-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: -50px;
}

.about__body-wrapper__body-bottom__about-img-inner {
  position: relative;
  width: 15%;
  height: 200px;
  -webkit-transform: skewY(-12deg);
          transform: skewY(-12deg);
  opacity: .6;
  margin-left: 5px;
}

.about__body-wrapper__body-bottom__about-img-inner:hover {
  opacity: .8;
  -webkit-transform: scale(0.95) skewY(-12deg);
          transform: scale(0.95) skewY(-12deg);
}

.about__body-wrapper__body-bottom__about-img-inner:nth-child(even) {
  margin-top: 38px;
}

.about__body-wrapper__body-bottom__about-img-inner > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__body-wrapper__body-bottom__about-img-inner > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.skills-section {
  position: relative;
  margin-top: 200px;
  z-index: 2;
}

.skills {
  position: relative;
  width: 100%;
  z-index: 2;
  margin-top: 100px;
}

.skills__skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  will-change: transform;
  margin: 0 20px;
}

.skills__skills-wrapper .skills-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.skills__skills-wrapper .skills-icons-wrapper .skill-icon {
  min-width: 54px;
  min-height: 47px;
  width: 7.5vw;
  height: 9vh;
  margin: 0 5px;
}

.skills__skills-wrapper .skills-icons-wrapper .skill-icon.__ruby {
  background: url("/images/ruby-icon.png") no-repeat center;
  background-size: contain;
}

.skills__skills-wrapper .skills-icons-wrapper .skill-icon.__rails {
  background: url("/images/rails-icon.png") no-repeat center;
  background-size: contain;
}

.skills__skills-wrapper .skills-icons-wrapper .skill-icon.__html {
  background: url("/images/html-icon.png") no-repeat center;
  background-size: contain;
}

.skills__skills-wrapper .skills-icons-wrapper .skill-icon.__css {
  background: url("/images/css-icon.png") no-repeat center;
  background-size: contain;
}

.skills__skills-wrapper .skills-icons-wrapper .skill-icon.__js {
  background: url("/images/js-icon.png") no-repeat center;
  background-size: contain;
}

.skills__skills-wrapper .skills-icons-wrapper .skill-icon.__next {
  background: url("/images/next.png") no-repeat center;
  background-size: contain;
}

.skills__skills-wrapper__skill-1, .skills__skills-wrapper__skill-2, .skills__skills-wrapper__skill-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 400px;
  margin: 10px 10px;
  overflow: hidden;
  pointer-events: none;
}

.skills__skills-wrapper__skill-1 .skill-body, .skills__skills-wrapper__skill-2 .skill-body, .skills__skills-wrapper__skill-3 .skill-body {
  margin: 0 30px;
  word-break: break-word;
  font-family: 'Karla', 'Source Sans Pro','NotoSansCJKjp', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

.skills__skills-wrapper__skill-2 {
  left: 35%;
}

.skills__skills-wrapper__skill-3 {
  left: auto;
  right: 0;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

// ******************************************************************/
  .font-sm, .profile__right__profile-wrapper .profile-my-background, .profile__right__profile-wrapper .profile-intro, .about__body-wrapper__body-top .about-body, .skills__skills-wrapper__skill-1 .skill-body, .skills__skills-wrapper__skill-2 .skill-body, .skills__skills-wrapper__skill-3 .skill-body {
    font-size: 12px;
  }
  .font-md, .nav ul a, .h-fade-in__body, .profile__right__profile-wrapper .profile-en-name, .about-header, .skills__skills-wrapper__skill-1 .skill-title, .skills__skills-wrapper__skill-2 .skill-title, .skills__skills-wrapper__skill-3 .skill-title {
    font-size: 16px;
  }
  .font-lr, .my-words-wrapper .my-words-inner .my-words-mid {
    font-size: 17px;
  }
  .font-lg, .my-words-wrapper .my-words-inner .my-words-top, .my-words-wrapper .my-words-inner .my-words-bottom, .profile__right__profile-wrapper .profile-name, .about__body-wrapper__body-top .about-title {
    font-size: 24px;
  }
  .line-h-sm, .profile__right__profile-wrapper .profile-intro {
    line-height: 21px;
  }
  .line-h-md {
    line-height: 23px;
  }
  .line-h-lr {
    line-height: 28px;
  }
  .line-h-lg, .about__body-wrapper__body-top .about-body, .skills__skills-wrapper__skill-1 .skill-body, .skills__skills-wrapper__skill-2 .skill-body, .skills__skills-wrapper__skill-3 .skill-body {
    line-height: 26px;
  }
  .main-visual::after {
    top: 500px;
  }
  .main-visual__title-logo-inner-right {
    right: 20px;
  }
  .main-visual__title-logo-inner-right.scrolled {
    -webkit-transform: translateX(-55vw);
            transform: translateX(-55vw);
  }
  .main-visual__title-logo-inner-right__title-logo-kt {
    font-size: 120px;
  }
  .main-visual__title-logo-inner-left {
    left: 20px;
  }
  .main-visual__title-logo-inner-left__title-logo-char {
    font-size: 60px;
    letter-spacing: 3px;
  }
  .gate-animation-section {
    margin-bottom: 2000px;
  }
  .profile__left .profile-icon {
    top: 180px;
    left: 20%;
    width: 370px;
    height: 300px;
  }
  .profile__right__profile-wrapper .profile-en-name {
    margin: 7px 5% 0 auto;
  }
  .profile__right__profile-wrapper .profile-my-background {
    top: 2%;
    right: 12px;
  }
  .profile__right__profile-wrapper .profile-intro {
    margin: 3% 15% 0 5%;
  }
  .previewImgWrapper .previewImg {
    width: 85%;
    height: 450px;
  }
  .about__body-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 510px;
  }
  .about__body-wrapper__body-top .about-body {
    margin: 70px;
  }
  .about__body-wrapper__body-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 9%;
  }
  .about__body-wrapper__body-bottom__about-img-inner {
    width: 75%;
    height: 24%;
  }
  .about__body-wrapper__body-bottom__about-img-inner:nth-child(even) {
    margin: -10px 0 30px 98px;
  }
  .skills__skills-wrapper__skill-1, .skills__skills-wrapper__skill-2, .skills__skills-wrapper__skill-3 {
    height: 300px;
  }
  .skills__skills-wrapper__skill-1 .skill-body, .skills__skills-wrapper__skill-2 .skill-body, .skills__skills-wrapper__skill-3 .skill-body {
    margin: 0 30px;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm, .profile__right__profile-wrapper .profile-my-background, .profile__right__profile-wrapper .profile-intro, .about__body-wrapper__body-top .about-body, .skills__skills-wrapper__skill-1 .skill-body, .skills__skills-wrapper__skill-2 .skill-body, .skills__skills-wrapper__skill-3 .skill-body {
    font-size: 13px;
  }
  .font-md, .nav ul a, .h-fade-in__body, .profile__right__profile-wrapper .profile-en-name, .about-header, .skills__skills-wrapper__skill-1 .skill-title, .skills__skills-wrapper__skill-2 .skill-title, .skills__skills-wrapper__skill-3 .skill-title {
    font-size: 18px;
  }
  .font-lr, .my-words-wrapper .my-words-inner .my-words-mid {
    font-size: 20px;
  }
  .font-lg, .my-words-wrapper .my-words-inner .my-words-top, .my-words-wrapper .my-words-inner .my-words-bottom, .profile__right__profile-wrapper .profile-name, .about__body-wrapper__body-top .about-title {
    font-size: 26px;
  }
  .line-h-sm, .profile__right__profile-wrapper .profile-intro {
    line-height: 21px;
  }
  .line-h-md {
    line-height: 23px;
  }
  .line-h-lr {
    line-height: 28px;
  }
  .line-h-lg, .about__body-wrapper__body-top .about-body, .skills__skills-wrapper__skill-1 .skill-body, .skills__skills-wrapper__skill-2 .skill-body, .skills__skills-wrapper__skill-3 .skill-body {
    line-height: 26px;
  }
  .h-fade-in {
    padding: 66px 0;
  }
  .main-visual::after {
    top: 520px;
  }
  .main-visual__title-logo-inner-right {
    right: 20px;
  }
  .main-visual__title-logo-inner-right.scrolled {
    -webkit-transform: translateX(-55vw);
            transform: translateX(-55vw);
  }
  .main-visual__title-logo-inner-right__title-logo-kt {
    font-size: 170px;
  }
  .main-visual__title-logo-inner-left {
    left: 20px;
  }
  .main-visual__title-logo-inner-left__title-logo-char {
    font-size: 80px;
    letter-spacing: 7px;
  }
  .gate-animation-section {
    margin-bottom: 1800px;
  }
  .profile__left .profile-icon {
    top: 150px;
    left: 10%;
    width: 310px;
    height: 450px;
  }
  .profile__right__profile-wrapper .profile-name {
    margin: 30px 3% 0 auto;
  }
  .profile__right__profile-wrapper .profile-en-name {
    margin: 7px 3% 0 auto;
  }
  .profile__right__profile-wrapper .profile-my-background {
    top: 2%;
    right: -.6%;
  }
  .profile__right__profile-wrapper .profile-intro {
    margin: 3% 15% 0 35%;
  }
  .skills {
    margin-top: 150px;
    margin-bottom: -70px;
  }
  .skills__skills-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .skills__skills-wrapper__skill-1, .skills__skills-wrapper__skill-2, .skills__skills-wrapper__skill-3 {
    height: 450px;
  }
  .skills__skills-wrapper__skill-1 .skill-body, .skills__skills-wrapper__skill-2 .skill-body, .skills__skills-wrapper__skill-3 .skill-body {
    margin: 0 30px;
  }
  .skills__skills-wrapper__skill-2 {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  .skills__skills-wrapper__skill-3 {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .skill-body {
    margin: 0 30px;
  }
}
/*# sourceMappingURL=style.css.map */